<table {{ html_attributes(attributes) }}>
  {% if headers is not empty %}
  <thead>
    {% for field, header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
  </thead>
  {% endif %}

  {% if rows is empty %}

  <tbody>
    <tr><td colspan="{{ headers|length }}">{{ no_data }}</td></tr>
  </tbody>

  {% else %}

  <tbody>
    {% for field, row in rows %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

  {% endif %}
</table>
